@model List<Portfolio>

<div class="col-xl-5">
    <div class="card">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">My Projects</h3>
                </div>
                <div class="col text-right">
                    <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Project</th>
                       @*  <th scope="col">Url</th> *@
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                            <tr>
                                <th scope="row" class="d-flex flex-column align-items-center justify-content-center">
                                <a href="https://github.com/cansu846">
                                        @item.Name
                                </a>
                                        <div class="my-1">
                                            <img src="~/@item.ImageUrl" width="70px"/>
                                        </div>
                              
                                </th>
                                <td>
                                   @item.Description
                                </td>
                                <th>
                                    Finished
                                </th>
                            </tr>
                       
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>