@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model UserEditViewModel

<form method="post"  action="/WriterUser/Update" class="p-4">

    <input type="hidden" name="@ViewBag.Id" />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Surname</label>
        <input type="text" class="form-control" id="name" asp-for="SurName">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" asp-for="UserName">
    </div>

    <div class="mb-3">
        <label for="imageurl" class="form-label">ImageUrl</label>
        <input type="text" class="form-control" id="imageurl" asp-for="ImageUrl">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" asp-for="Email">
    </div>
   
    <button type="submit" class="btn btn-primary">Update</button>
</form>