@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Index</h1>
<table>
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>
            <button type="button" class="btn btn-primary">Click Me!</button>
            <button type="button" class="btn btn-primary">Click Me!</button>

        </td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>
            <button type="button" class="btn btn-primary">Click Me!</button>

            <button type="button" class="btn btn-primary">Click Me!</button>

        </td>
    </tr>
    <tr>
        
      
    </tr>
</table>