  <!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
       @*  <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="~/argon-dashboard-master/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div> *@
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand font-weight-bold bordered" href="/Default/Index/">
                <h1>
                    <i class="ni ni-spaceship text-primary"></i>
                    My Portfolio
                </h1>

            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Dashboard/Index/">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index/">
                            <i class="ni ni-planet text-orange"></i>
                            <span class="nav-link-text">Admin</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/Index/">
                            <i class="ni ni-book-bookmark text-default"></i>
                            <span class="nav-link-text">About</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Service/Index/">
                            <i class="ni ni-support-16 text-yellow"></i>
                            <span class="nav-link-text">Services</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Skill/Index/">
                            <i class="ni ni-bullet-list-67 text-default"></i>
                            <span class="nav-link-text">Skills</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Experience/Index/">
                            <i class="ni ni-paper-diploma text-default"></i>
                            <span class="nav-link-text">Experience</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Portfolio/Index/">
                            <i class="ni ni-shop text-default"></i>
                            <span class="nav-link-text">Portfolio</span>
                        </a>
                    </li>
               
                    <li class="nav-item">
                        <a class="nav-link" href="/Announcement/Index/">
                            <i class=" ni ni-notification-70 text-default"></i>
                            <span class="nav-link-text">Announcement</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Auth/Login/">
                            <i class="ni ni-key-25 text-info"></i>
                            <span class="nav-link-text">Login</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Auth/Register/">
                            <i class="ni ni-circle-08 text-pink"></i>
                            <span class="nav-link-text">Register</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Auth/LogOut/">
                            <i class="ni ni-user-run text-red"></i>
                            <span class="nav-link-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>